# Ignore everything in the directory
/logs/*
/temp/*

# Except the directory itself
!/logs/
!/logs/xdebug
!/temp/
!/temp/phpstorm-coverage

# Optional: Keep a .gitkeep or similar file to retain the empty directory in Git
!/logs/.gitkeep
!/logs/xdebug/.gitkeep
!/temp/.gitkeep
!/temp/phpstorm-coverage/.gitkeep

/.idea/
/_unused/
